<%= form_with model: search_term, url: search_ready_recommend_path, class: "contents" do |f| %>
  <div class="my-5">
    <%= f.label :radius %>
    <p class='text-xs'><%= (t '.description') %></p>
    <%= f.number_field :radius, class: "block shadow rounded-md border border-gray-200 pr-12 py-2 mt-2", step: 100, min: 1000, max: 5000, required: true %>
    <%= render partial: 'shared/error_message', collection: search_term.errors.full_messages_for(:radius) %>
  </div>

  <div class="my-5">
    <%= f.label :gc %>
    <%= f.select :gc, Settings.yahoo.gc.to_h, {}, class: "block shadow rounded-md border border-gray-200 px-3 py-2 mt-2 w-full sm:w-1/2" %>
    <%= render partial: 'shared/error_message', collection: search_term.errors.full_messages_for(:gc) %>
  </div>

  <div class="text-right sm:text-center">
    <%= f.submit (t '.search'), class: "rounded-lg py-3 px-5 bg-orange-600 text-white font-medium cursor-pointer drop-shadow-lg" %>
  </div>
<% end %>
