<%= form_with url: search_departures_path, class: 'zen-kaku-medium' do |f| %>
  <div class="my-5">
    <%= f.label :name, '名称' %>
    <%= f.text_field :name, class: 'normal-form' %>
  </div>

  <div class="my-5">
    <%= f.label :address, '住所' %>
    <%= f.text_field :address, class: 'normal-form', required: true %>
    <%= link_to '現在地取得', '#', class: 'text-blue-600 underline' %>
  </div>

  <div class="my-5">
    <%= f.check_box :is_saved, class: "p-2 mb-1 mr-3 inline-block shadow rounded-lg border border-gray-300 bg-gray-50" %>
    <%= f.label :is_saved, '保存する', class: '' %>
  </div>

  <div class="my-5 text-right">
    <%= f.submit '決定', class: 'orange-btn tracking-wider text-xl px-5 py-2.5 zen-kaku-regular' %>
  </div>
<% end %>
