<div class="info-card pb-0 keep-all zen-kaku-regular">
  <div class="text-left mb-1 lg:mb-0 text-gray-700">
    <p class="mr-0 lg:mr-3 block lg:inline-block">
      <%= fa_icon 'home' %>
      <%= history.departure.location.name %>
    </p>

    <p class="block lg:inline-block">
      <%= fa_icon 'clock-o' %>
      <%= l(history.start_time, format: :short) %>
      <span class="ml-1"><%= history.decorate.moving_time %></span>
    </p>
  </div>

  <div class="text-gray-800 text-2xl lg:text-3xl zen-kaku-medium">
    <h5 class="mr-0 lg:mr-5 block lg:inline-block">
      <%= fa_icon 'flag' %>
      <%= history.destination.location.name %>
    </h5>
    <h5 class="block lg:inline-block">
      <%= fa_icon 'road' %>
      <%= history.moving_distance %>m
    </h5>
  </div>

  <p class="mb-3 text-gray-700"><%= history.destination.location.address %></p>

  <div>
    <%= link_to '出発', new_history_path(destination: history.destination.uuid),
    data: { turbo_frame: '_top' },
    class: 'orange-btn tracking-widest text-xl px-12 py-2 zen-kaku-medium' %>
  </div>

  <div data-controller="dropdown">
    <%= render 'shared/dropdown' %>

    <div class="mb-3 hidden" data-dropdown-target="menu">
      <%= link_to '編集', '#',
      class: 'border-orange-btn tracking-widest text-lg px-8 py-1.5 zen-kaku-regular mr-4' %>
      <%= link_to '削除', '#',
      data: { turbo_method: :delete, turbo_confirm: "保存済みから削除します\nよろしいですか?"},
      class: 'border-orange-btn tracking-widest text-lg px-8 py-1.5 zen-kaku-regular border-red-600 text-red-600' %>
    </div>
  </div>
</div>
