<table class="w-screen bg-gray-900 text-white fixed bottom-0 table-fixed z-10 nav-height">
  <tbody>
    <tr>
      <td>
        <%= link_to new_departure_path, class: 'block h-full relative', data: { turbo_frame: '_top' } do %>
          <%= fa_icon 'search', class: 'nav-icon' %>
        <% end %>
      </td>
      <td class="border-x-2">
        <%= link_to departures_path, class: 'block h-full relative', data: { turbo_frame: '_top' } do %>
          <%= fa_icon 'folder-open', class: 'nav-icon' %>
        <% end %>
      </td>
      <td>
        <%= link_to profile_path, class: 'block h-full relative' do %>
          <%= fa_icon 'user', class: 'nav-icon' %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
