<div class="text-center">
  <div class="p-4 w-full rounded-lg border shadow-md sm:p-8 mt-5 mb-4 font-noto bg-cyan-50">
    <h5 class="mb-2 text-3xl font-bold text-gray-900 break-words">
      <%= fa_icon "home" %>
      <%= departure.name %>
    </h5>
    <p class="mb-2 text-base text-gray-600 sm:text-lg"><%= departure.address %></p>
  </div>

  <div class="p-4 w-full rounded-lg border shadow-md sm:p-8 mb-4 font-noto bg-teal-50">
    <h5 class="mb-2 text-3xl font-bold text-gray-900 break-words">
      <%= fa_icon "flag" %>
      <%= destination.name %>
    </h5>
    <p class="mb-2 text-base text-gray-600 sm:text-lg"><%= destination.address %></p>
  </div>

  <%= turbo_frame_tag 'start-button-field' do %>
    <%= link_to (t '.start_one_way'), histories_path(course: 'one_way'),
    data: { turbo_method: :post },
    class: 'w-full sm:w-2/5 bg-orange-500 text-white rounded-lg inline-flex items-center justify-center px-4 py-3.5 font-semibold drop-shadow-lg sm:mr-2' %>
    <%= link_to (t '.start_round_trip'), histories_path(course: 'round_trip'),
    data: { turbo_method: :post },
    class: 'w-full sm:w-2/5 bg-orange-600 text-white rounded-lg inline-flex items-center justify-center px-4 py-3.5 font-semibold drop-shadow-lg mb-8 mt-4 sm:mt-0 sm:ml-2' %>
  <% end %>
</div>
