<div class="info-card keep-all zen-kaku-regular">
  <div class="text-left mb-1 lg:mb-0 text-gray-700">
    <p class="mr-0 lg:mr-3 block lg:inline-block">
      <%= fa_icon 'floppy-o' %>
      <span class="ml-1">
        <% if destination_info[:created_at] %>
          <%= l(destination_info[:created_at], format: :short) %>
        <% else %>
          未保存
        <% end %>
      </span>
    </p>

    <p class="block lg:inline-block tracking-tighter">
      <%= fa_icon 'home' %>
      <span><%= departure_info[:name] %></span>
    </p>
  </div>

  <div class="text-gray-800 text-2xl lg:text-3xl zen-kaku-medium">
    <h5 class="mr-0 lg:mr-5 block lg:inline-block tracking-tighter">
      <%= fa_icon 'flag' %>
      <%= destination_info[:name] %>
    </h5>

    <h5 class="block sm:inline-block">
      <%= fa_icon 'road' %>
      <%= destination_info[:distance] %>m
    </h5>
  </div>

  <p class="text-gray-700 tracking-tighter"><%= destination_info[:address] %></p>
</div>
