<%= form_with model: history, class: "contents", data: { turbo: false } do |f| %>
  <div class="my-5">
    <%= f.label :start_time %>
    <%= f.datetime_field :start_time, class: "block shadow rounded-md border border-gray-200 px-3 py-2 mt-2 w-full bg-cyan-50", required: true %>
    <%= render partial: 'shared/error_message', collection: history.errors.full_messages_for(:start_time) %>
  </div>

  <div class="my-5">
    <%= f.label :end_time %>
    <%= f.datetime_field :end_time, class: "block shadow rounded-md border border-gray-200 px-3 py-2 mt-2 w-full bg-cyan-50", required: true %>
    <%= render partial: 'shared/error_message', collection: history.errors.full_messages_for(:end_time) %>
  </div>

  <div class="my-5">
    <%= f.label :moving_distance %>
    <%= f.number_field :moving_distance, class: "block shadow rounded-md border border-gray-200 px-3 py-2 mt-2 w-full bg-cyan-50", required: true %>
    <%= render partial: 'shared/error_message', collection: history.errors.full_messages_for(:moving_distance) %>
  </div>

  <div class="text-right">
    <%= f.submit class: "rounded-lg py-3 px-5 bg-orange-600 text-white font-medium cursor-pointer drop-shadow-lg" %>
  </div>
<% end %>
