<% @histories.each do |history| %>
  <%= turbo_frame_tag history do %>
    <div class="p-4 w-full text-center rounded-lg border shadow-md sm:p-8 mb-4 font-noto bg-sky-50">
      <p class="mb-2 text-base text-gray-600 sm:text-lg"><%= l(history.start_time, format: :for_history_start) %> - <%= l(history.end_time, format: :for_history_end) %></p>
      <p class="mb-1 text-base text-gray-700 sm:text-lg"><%= history.departure.location.name %> - <%= history.destination.location.name %></p>

      <h5 class="mb-4 text-3xl font-bold text-gray-900 break-words"><%= "#{history.decorate.calc_time}分 #{history.moving_distance.to_s}m" %></h5>

      <div class="justify-center items-center">
        <%= link_to 'ルート表示', set_history_path(history),
        data: { turbo_method: :post },
        class: 'w-3/5 sm:w-3/5 bg-orange-600 text-white rounded-lg inline-flex items-center justify-center px-4 py-3.5 font-semibold drop-shadow-lg mb-2' %>

        <%= link_to '編集', edit_history_path(history),
        class: 'w-2/5 bg-slate-500 text-white rounded-lg inline-flex items-center justify-center px-3 py-1.5 drop-shadow-lg mr-2' %>

        <%= link_to '削除', history_path(history),
        data: { turbo_method: :delete, turbo_confirm: (t '.delete_confirm')},
        class: 'w-2/5 bg-gray-500 text-white rounded-lg inline-flex items-center justify-center px-3 py-1.5 drop-shadow-lg mb-4 ml-2' %>
      </div>
    </div>
  <% end %>
<% end %>
