<% content_for(:title, (@history.end_time ? '履歴詳細' : '移動中')) %>

<div id="map"></div>

<%= turbo_frame_tag 'start-field' do %> <%# histories#newから遷移してきた時、差し替わるturbo_frame %>
  <%= turbo_frame_tag "history_#{@history.uuid}" do %>
    <%= render 'shared/toast' if is_turbo_frame_request? && @history.end_time.nil? %> <%# histories#createでスタートして遷移してきた用 %>
    <%= render @history %>
  <% end %>
<% end %>

<%= include_gon %>

<% # 表示されているMapのテストは一旦保留するため、読み込まない %>
<% unless Rails.env.test? %>
  <%= javascript_include_tag Settings.google.map_url + 'callback=showRoute', defer: 'defer' %>
<% end %>
