<%= turbo_frame_tag departure do %> <%# departure#index, newにて、1つ1つに割り振る用 %>
  <div class="info-card pb-0 keep-all zen-kaku-regular">
    <%= render 'shared/toast' if is_turbo_frame_request? %> <%# departure#update成功用 %>

    <p class="mb-1.5 text-left text-gray-700">
      <%= fa_icon 'floppy-o' %>
      <span class="ml-1"><%= l(departure.created_at, format: :short) %></span>
    </p>

    <h5 class="mb-1 text-2xl lg:text-3xl text-gray-800 zen-kaku-medium">
      <%= departure.location.name %>
    </h5>

    <p class="mb-3 text-gray-700">
      <%= departure.location.address %>
    </p>

    <div>
      <%= link_to '出発', new_search_path(departure: departure.uuid),
      data: { turbo_frame: '_top' },
      class: 'orange-btn tracking-widest text-xl px-12 py-2 zen-kaku-medium' %>
    </div>

    <div data-controller="dropdown">
      <%= render 'shared/dropdown' %>

      <div class="mb-3 hidden" data-dropdown-target="menu">
        <%= link_to '編集', edit_departure_path(departure.uuid),
        class: 'border-orange-btn tracking-widest text-lg px-8 py-1.5 zen-kaku-regular mr-4' %>
        <%= link_to '削除', departure_path(departure.uuid),
        data: { turbo_method: :delete, turbo_confirm: "保存済みから削除します\nよろしいですか?"},
        class: 'border-orange-btn tracking-widest text-lg px-8 py-1.5 zen-kaku-regular border-red-600 text-red-600' %>
      </div>
    </div>
  </div>
<% end %>
