<%= form_with model: departure_form, url: departures_path, class: 'zen-kaku-medium' do |f| %>
  <div class="my-5">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'normal-form' %>
    <%= render partial: 'shared/error_message', collection: departure_form.errors.full_messages_for(:name) %>
  </div>

  <div class="my-5">
    <%= f.label :address %>
    <%= f.text_field :address, class: 'normal-form' %>
    <%= link_to '現在地取得', '#', class: 'text-blue-600 underline', id: 'js-get-current-location-button' %>
    <p class="hidden" id="js-loading-text">読込中……</p>
    <%= render partial: 'shared/error_message', collection: departure_form.errors.full_messages_for(:address) %>
  </div>

  <div class="my-5">
    <%= f.check_box :is_saved, class: 'p-2 mb-1 mr-3 inline-block shadow rounded-lg border border-gray-300 bg-gray-50' %>
    <%= f.label :is_saved %>
    <%= render partial: 'shared/error_message', collection: departure_form.errors.full_messages_for(:is_saved) %>
  </div>

  <div class="my-5 text-right">
    <%= f.submit '決定', class: 'orange-btn tracking-wider text-xl px-5 py-2.5 zen-kaku-regular' %>
  </div>
<% end %>
