<% content_for(:title, '出発地を選択') %>

<h1 class="headline zen-kaku-medium">出発地</h1>
<div class="tabs">
  <input id="left" type="radio" name="tab-radio-button" checked>
  <label class="tab-item w-1/3 zen-kaku-bold" for="left">
    <%= fa_icon 'pencil-square-o', class: 'text-2xl' %>
    入力
  </label>

  <input id="center" type="radio" name="tab-radio-button">
  <label class="tab-item w-1/3 zen-kaku-bold border-x-2 border-x-gray-300" for="center">
    <%= fa_icon 'folder-open', class: 'text-2xl' %>
    保存
  </label>

  <input id="right" type="radio" name="tab-radio-button">
  <label class="tab-item w-1/3 zen-kaku-bold" for="right">
    <%= fa_icon 'history', class: 'text-2xl' %>
    履歴
  </label>

  <div class="tab-content" id="left-content">
    <%= render 'form', departure_form: @departure_form %>
  </div>

  <div class="tab-content relative" id="center-content">
    <div class="swiper swiper-container-1" data-controller='swiper'>
      <div class="swiper-wrapper">
        <%= render @departures %>
      </div>
      <div class="swiper-pagination swiper-pagination-1 !bottom-0"></div>
    </div>
    <div class="swiper-button-next swiper-button-next-1 !right-0.5 sm:!right-5 !text-cyan-600/80"></div>
    <div class="swiper-button-prev swiper-button-prev-1 !left-0.5 sm:!left-5 !text-cyan-600/80"></div>
  </div>

  <div class="tab-content relative" id="right-content">
    <div class="swiper swiper-container-2">
      <div class="swiper-wrapper">
        <%= render partial: 'history', collection: @histories %>
      </div>
      <div class="swiper-pagination swiper-pagination-2 !bottom-0"></div>
    </div>
    <div class="swiper-button-next swiper-button-next-2 !right-0.5 sm:!right-5 !text-cyan-600/80"></div>
    <div class="swiper-button-prev swiper-button-prev-2 !left-0.5 sm:!left-5 !text-cyan-600/80"></div>
  </div>
</div>

<%= javascript_include_tag Settings.google.map_url + 'callback=getCurrentLocation', defer: 'defer' %>
