<% if comment.instance_of?(Array) %>
  <div class="flex justify-center items-center">
    <p class="mr-3 sm:mr-4">
      <% if is_published_comment.nil? || is_published_comment %>
        <%= fa_icon 'eye' %>
      <% else %>
        <%= fa_icon 'eye-slash' %>
      <% end %>
      <%= fa_icon 'commenting' %>
    </p>
    <div class="text-left ml-3 sm:ml-4">
      <% comment.each do |c| %>
        <ul class="list-disc">
          <li><%= c %></li>
        </ul>
      <% end %>
    </div>
  </div>
<% elsif comment.instance_of?(String) %>
  <p>
    <% if is_published_comment.nil? || is_published_comment %>
      <%= fa_icon 'eye' %>
    <% else %>
      <%= fa_icon 'eye-slash' %>
    <% end %>
    <%= fa_icon 'commenting' %>
    <%= comment %>
  </p>
<% end %>
