<% content_for(:title, '目的地を選択') %>

<div id="map"></div>


<div class="tabs-for-slide">
  <input id="left" type="radio" name="tab-radio-button" checked>
  <label class="tab-item w-1/3 zen-kaku-bold" for="left">
    <%= fa_icon 'search', class: 'text-2xl' %>
    検索結果
  </label>

  <input id="center" type="radio" name="tab-radio-button">
  <label class="tab-item w-1/3 zen-kaku-bold border-x-2 border-x-gray-300" for="center">
    <%= fa_icon 'commenting', class: 'text-2xl' %>
    コメント
  </label>

  <input id="right" type="radio" name="tab-radio-button">
  <label class="tab-item w-1/3 zen-kaku-bold" for="right">
    <%= fa_icon 'folder-open', class: 'text-2xl' %>
    保存済み
  </label>

  <div class="tab-content" id="left-content">
    <%= render 'candidates', candidates: @results, number: 0 %>
  </div>

  <div class="tab-content relative" id="center-content">
    <%= render 'candidates', candidates: @nearby_commented_info, number: 1 %>
  </div>

  <div class="tab-content relative" id="right-content">
    <%= render 'candidates', candidates: @nearby_own_info, number: 2 %>
  </div>
</div>

<%= include_gon %>

<% # 表示されているMapのテストは一旦保留するため、読み込まない %>
<% unless Rails.env.test? %>
  <%= javascript_include_tag Settings.google.map_url + 'callback=showCandidates', defer: 'defer' %>
<% end %>
