<p id='js-show-distance' class='text-lg '></p>

<div id='map'></div>
<%= turbo_frame_tag 'destination-form' do %>
  <%= render 'form', search_destination: @search_destination %>
<% end %>

<%= include_gon %>

<%= javascript_include_tag 'show-route' %>
<%= javascript_include_tag Settings.google.map_url, async: 'async', defer: 'defer' %>
