<%= form_with url: login_path, class: 'zen-kaku-medium' do |f| %>
  <div class="my-5">
    <%= f.label :email, 'メールアドレス' %>
    <%= f.email_field :email, class: 'normal-form', required: true %>
  </div>

  <div class="my-5">
    <%= f.label :password, 'パスワード' %>
    <%= f.password_field :password, class: 'normal-form', required: true %>
  </div>

  <div class="my-5 text-right">
    <%= f.submit 'ログイン', class: 'orange-btn text-lg px-3 py-2.5 zen-kaku-medium' %>
  </div>
<% end %>
